* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
p { font-size: 18px; }

/*
Primary color : #90AFC5
Secondary color : #336B87
Shadow : #2A3132
Autumn variations : #763626 #88412d #AB4E37
*/


// --- CONTACT STICKER ---
.contact {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 7px;
  display: flex;
  align-content: center;
  justify-content: center;
/*  left: 50%;
  transform: translate(-50%, 0); */
  background-color: #83acbe;
  padding: 5px 10px 7px 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  p {
    font-size: 20px;
    color: white;
    white-space: nowrap;
    margin-left: 5px;
    margin-right: 5px;
  }
  .separator {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}



// --- HEADER ---
header {
  position: relative;
  height: 283px;
  .header-img {
    z-index: 1;
    height: 283px;
    width: 100vw;
  }
  .header-text {
    z-index: 2;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 25px;
    h1 {
      white-space: nowrap;
    }
  }
}



// --- MENU ---
.menu {
  z-index: 4;
  width: 100vw;
  background-color: #377391;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style-type: none;
      a {
        color: white;
        text-decoration: none;
        p {
          padding: 15px 30px;
          white-space: nowrap;
          font-size: 22px;
        }
        p:after {
          z-index: 5;
          position: relative;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }
        p:after {
          bottom: -15px;
          display: block;
          height: 3px;
          width: 0%;
          content: "";
          background-color: #90AFC5;
        }
        p:hover:after,
        #selected-tab:before {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
#selected-tab {
  padding: 11px 30px;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid #90AFC5;
}



// --- CONTENT ---
.img-greenpath {
  width: 480px;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}
.content-box {
  z-index: 5;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.content {
  .icon {
    width: 30px;
    height: 30px;
  }
  padding: 80px 100px;
  p {
    font-size: 20px;
    margin: 15px auto 15px auto;
    a {
      color: #88412d;
    }
  }
  // b {color: #88412d;}
  .text-spacer {
    height: 50px;
    width: 1px;
  }
}

// index.html
.content-index {
  .art-big-banner {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    margin: 40px 25px 40px 25px;
    background-color: #83acbe;
    border-radius: 7px;
    p {
      margin: auto auto 20px auto;
      color: white;
      font-size: 95%;
    }
    a {
      color: white;
      align-self: center;
    }
  }
}

// matieres.html
.content-matieres {
  padding-top: 90px;
  h3 {
    color: #88412d;
    margin-bottom: 30px;
  }
  .content-matieres-titles {
    margin-top: 60px;
  }
}

// infos-pratiques.html
.content-infos {
  padding-top: 90px;
  p {
    display: flex;
    margin: 5px auto 5px auto;
    a {
      margin: -6px auto 8px 30px;
      color: #377391;
      text-decoration: none;
    }
  }
  h3 {
    margin-bottom: 25px;
    padding-left: 15px;
    border-left: 7px solid #88412d;
  }
  .subtitle {
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto 10px 10px;
  }
}

// blog.html
.content-blog {
  margin-top: -10px;
  .art {
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    h2 {
      font-size: 22px;
      text-transform: uppercase;
    }
    h3 {
      color: #88412d;
      margin-top: 20px;
    }
    h4 {
      margin-top: 25px;
    }
    .art-date {
      text-align: right;
    }
    .art-margin {
      margin-left: 3%;
    }
    .art-link {
      margin-top: 30px;
      text-align: center;
    }
  }
  .art-banner {
    cursor: pointer;
    padding: 0 5px;
    color: white;
    background-color: #83acbe;
  }
}



// --- FOOTER ---
footer {
  z-index: 6;
  display: block;
  margin: 0 auto;
  width: 100vw;
  background-color: #377391;
  .footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-logo {
      height: 110px;
      margin-right: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .footer-content {
      margin-left: 15px;
      p {
        color: white;
      }
      p:nth-child(1){
        font-size: 22px;
      }
      p:nth-child(4){
        font-size: 16px;
      }
    }
  }
}



// --- MEDIA QUERIES ---
// Medium screens (<1200)
@media screen and (max-width: 1200px) {
  header {
    .header-img {
      width: 1440px;
    }
  }
}

// Medium-Small screens bridge (<1000)
@media screen and (max-width: 1000px) {
  .menu ul li a p {
    font-size: 20px;
    padding: 12px;
  }
  #selected-tab {
    padding: 11px 12px;
  }
  .content {
    padding: 50px;
  }
  .content-matieres .content-infos {
    padding-top: 60px;
  }
}

// Small screens (<750)
@media screen and (max-width: 750px) {
  header {
    .header-text {
      h1 {
        font-size: 46px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
  .menu {
    max-width: 1000px;
    ul {
      padding: 3px;
      flex-direction: column;
      li a p {
        padding: 0;
        font-size: 22px;
      }
      li a p:after {
        bottom: -3px;
      }
    }
  }
  #selected-tab {
    padding: 0;
    border: none;
    box-shadow: 0 3px 0 0 #90AFC5;
  }
  .img-greenpath {
    width: 320px;
    padding-bottom: 20px;
  }
  .content {
    padding: 30px;
    p {
      font-size: 18px;
    }
  }
  .content-box {
    border-left: none;
  }
  .content-index .article-banner {
    margin: 30px 10px 30px 10px;
  }
  .content-matieres .content-infos {
    padding-top: 40px;
  }
  .contact {
    width: min-content;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 7px;
    padding-top: 5px;
    p {
      font-size: 17px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  .back-to-top {
    bottom: 5px;
    right: 10px;
  }
}






// --- Button to top ---
.back-to-top {
  cursor: pointer;
  z-index: 7;
  position: fixed;
  bottom: 10px;
  right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    width: 45px;
    opacity: 0.9;
  }
}
